/.vs/LearningDotNet/FileContentIndex/cf98c4d7-5fbc-402d-972e-6f8825b51b7a.vsidx
/.vs/LearningDotNet/v17/.wsuo
/.vs/LearningDotNet/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/AngularAuthAPI/.vs/AngularAuthAPI/config/applicationhost.config
/AngularAuthAPI/.vs/AngularAuthAPI/DesignTimeBuild/.dtbcache.v2
/AngularAuthAPI/.vs/AngularAuthAPI/FileContentIndex/09c94208-803c-4dcb-a2af-ab13689dcc91.vsidx
/AngularAuthAPI/.vs/AngularAuthAPI/FileContentIndex/0f895ce5-6ca6-467f-99c2-3c5965da3043.vsidx
/AngularAuthAPI/.vs/AngularAuthAPI/FileContentIndex/69fabaa3-3772-43df-9666-a670afc0551b.vsidx
/AngularAuthAPI/.vs/AngularAuthAPI/FileContentIndex/d3bdb2bf-f4ec-4317-bac5-c7c98ae173b7.vsidx
/AngularAuthAPI/.vs/AngularAuthAPI/FileContentIndex/e0ed46a6-44fb-4c82-8081-18735f01d5e5.vsidx
/AngularAuthAPI/.vs/AngularAuthAPI/v17/.futdcache.v2
/AngularAuthAPI/.vs/AngularAuthAPI/v17/.suo
/AngularAuthAPI/.vs/AngularAuthAPI/v17/DocumentLayout.json
/AngularAuthAPI/.vs/ProjectEvaluation/angularauthapi.metadata.v7.bin
/AngularAuthAPI/.vs/ProjectEvaluation/angularauthapi.projects.v7.bin
/AngularAuthAPI/AngularAuthAPI.csproj.user
/AngularAuthAPI/AngularAuthAPI.http
/AngularAuthAPI/bin/Debug/net8.0/AngularAuthAPI.deps.json
/AngularAuthAPI/bin/Debug/net8.0/AngularAuthAPI.dll
/AngularAuthAPI/bin/Debug/net8.0/AngularAuthAPI.exe
/AngularAuthAPI/bin/Debug/net8.0/AngularAuthAPI.pdb
/AngularAuthAPI/bin/Debug/net8.0/AngularAuthAPI.runtimeconfig.json
/AngularAuthAPI/bin/Debug/net8.0/appsettings.Development.json
/AngularAuthAPI/bin/Debug/net8.0/appsettings.json
/AngularAuthAPI/bin/Debug/net8.0/Azure.Core.dll
/AngularAuthAPI/bin/Debug/net8.0/Azure.Identity.dll
/AngularAuthAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/Humanizer.dll
/AngularAuthAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/AngularAuthAPI/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/AngularAuthAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
/AngularAuthAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/AngularAuthAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
/AngularAuthAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
/AngularAuthAPI/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
/AngularAuthAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/AngularAuthAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
/AngularAuthAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/AngularAuthAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/AngularAuthAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/AngularAuthAPI/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
/AngularAuthAPI/bin/Debug/net8.0/Microsoft.Identity.Client.dll
/AngularAuthAPI/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
/AngularAuthAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/AngularAuthAPI/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/AngularAuthAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/AngularAuthAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/AngularAuthAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/AngularAuthAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/AngularAuthAPI/bin/Debug/net8.0/Microsoft.OpenApi.dll
/AngularAuthAPI/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
/AngularAuthAPI/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
/AngularAuthAPI/bin/Debug/net8.0/Mono.TextTemplating.dll
/AngularAuthAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
/AngularAuthAPI/bin/Debug/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/AngularAuthAPI/bin/Debug/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/AngularAuthAPI/bin/Debug/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/AngularAuthAPI/bin/Debug/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/AngularAuthAPI/bin/Debug/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/AngularAuthAPI/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
/AngularAuthAPI/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/AngularAuthAPI/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/AngularAuthAPI/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
/AngularAuthAPI/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/AngularAuthAPI/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/AngularAuthAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/AngularAuthAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/AngularAuthAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/AngularAuthAPI/bin/Debug/net8.0/System.CodeDom.dll
/AngularAuthAPI/bin/Debug/net8.0/System.Composition.AttributedModel.dll
/AngularAuthAPI/bin/Debug/net8.0/System.Composition.Convention.dll
/AngularAuthAPI/bin/Debug/net8.0/System.Composition.Hosting.dll
/AngularAuthAPI/bin/Debug/net8.0/System.Composition.Runtime.dll
/AngularAuthAPI/bin/Debug/net8.0/System.Composition.TypedParts.dll
/AngularAuthAPI/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
/AngularAuthAPI/bin/Debug/net8.0/System.Drawing.Common.dll
/AngularAuthAPI/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/AngularAuthAPI/bin/Debug/net8.0/System.Memory.Data.dll
/AngularAuthAPI/bin/Debug/net8.0/System.Runtime.Caching.dll
/AngularAuthAPI/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
/AngularAuthAPI/bin/Debug/net8.0/System.Security.Permissions.dll
/AngularAuthAPI/bin/Debug/net8.0/System.Windows.Extensions.dll
/AngularAuthAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/AngularAuthAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/AngularAuthAPI/obj/AngularAuthAPI.csproj.nuget.dgspec.json
/AngularAuthAPI/obj/AngularAuthAPI.csproj.nuget.g.props
/AngularAuthAPI/obj/AngularAuthAPI.csproj.nuget.g.targets
/AngularAuthAPI/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/AngularAuthAPI/obj/Debug/net8.0/AngularA.9F5EE7BC.Up2Date
/AngularAuthAPI/obj/Debug/net8.0/AngularAuthAPI.AssemblyInfo.cs
/AngularAuthAPI/obj/Debug/net8.0/AngularAuthAPI.AssemblyInfoInputs.cache
/AngularAuthAPI/obj/Debug/net8.0/AngularAuthAPI.assets.cache
/AngularAuthAPI/obj/Debug/net8.0/AngularAuthAPI.csproj.AssemblyReference.cache
/AngularAuthAPI/obj/Debug/net8.0/AngularAuthAPI.csproj.BuildWithSkipAnalyzers
/AngularAuthAPI/obj/Debug/net8.0/AngularAuthAPI.csproj.CoreCompileInputs.cache
/AngularAuthAPI/obj/Debug/net8.0/AngularAuthAPI.csproj.FileListAbsolute.txt
/AngularAuthAPI/obj/Debug/net8.0/AngularAuthAPI.dll
/AngularAuthAPI/obj/Debug/net8.0/AngularAuthAPI.GeneratedMSBuildEditorConfig.editorconfig
/AngularAuthAPI/obj/Debug/net8.0/AngularAuthAPI.genruntimeconfig.cache
/AngularAuthAPI/obj/Debug/net8.0/AngularAuthAPI.GlobalUsings.g.cs
/AngularAuthAPI/obj/Debug/net8.0/AngularAuthAPI.MvcApplicationPartsAssemblyInfo.cache
/AngularAuthAPI/obj/Debug/net8.0/AngularAuthAPI.MvcApplicationPartsAssemblyInfo.cs
/AngularAuthAPI/obj/Debug/net8.0/AngularAuthAPI.pdb
/AngularAuthAPI/obj/Debug/net8.0/apphost.exe
/AngularAuthAPI/obj/Debug/net8.0/ref/AngularAuthAPI.dll
/AngularAuthAPI/obj/Debug/net8.0/refint/AngularAuthAPI.dll
/AngularAuthAPI/obj/Debug/net8.0/staticwebassets.build.json
/AngularAuthAPI/obj/Debug/net8.0/staticwebassets/msbuild.build.AngularAuthAPI.props
/AngularAuthAPI/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.AngularAuthAPI.props
/AngularAuthAPI/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.AngularAuthAPI.props
/AngularAuthAPI/obj/project.assets.json
/AngularAuthAPI/obj/project.nuget.cache


# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
